@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* Roboto Font */
body {
  font-family: "Roboto", sans-serif;
  background-color: #aeeeed;
}

/* Container class */

.container {
  max-width: 900px;
  margin: 0 auto;
}

.container.container-sm {
  max-width: 782px;
}

.container.container-md {
  max-width: 1280px;
}

.container.container-lg {
  max-width: 1440px;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.d-grid {
  display: grid;
}

/* Text Alignment */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.card img {
  padding: 0.5em;
  border-radius: 0.7em;
}

.card {
  flex-direction: row;
  max-width: 35em;
  border: 0;
  background-color: #f3eeee;
  color: #696969;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}

.card-body {
  position: relative;
  right: 0;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.btn-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.card-text {
  letter-spacing: 0.1em;
}

.btn-section .btn {
  padding: 0.5em 0.5em;
  margin-right: 0.1rem;
  margin-bottom: 0.1rem;
  font-size: 1em;
  color: #f3eeee;
  background-color: #14716f;
}

.btn {
  border: none;
}

.header {
  font-size: 2.5rem;
  color: #696969;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.btn:hover, .btn:focus, .btn:active  {
  background-color: #044b4a;
}